@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.string {
  @apply text-green-500;
}
.number {
  @apply text-fuchsia-500;
}
.boolean {
  @apply text-blue-500;
}
.null {
  color: magenta;
}
.key {
  @apply text-foreground;
}

.animate-wheel {
  animation: spin 30s linear infinite;
}

.animate-counter {
  animation: spin-counter 30s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-counter {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.realtime:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: #26bc5815;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  border-radius: 100%;
  border: 1px solid #26bc5840;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.8;
    transform: rotate(45deg) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) scale(2);
  }
}

.animate-pulse-uplift {
  animation-name: pulseUplift;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes pulseUplift {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}
